:root {
    --primary-color: #4f0eb9;
    --secondary-color: #2e2a2a;
    --accent1-color: #ffffff;
    --accent2-color: #000000;
    --heading-font: "Roboto", sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--body-font);
}

main {
    flex: 1;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 25px 0;
}

#course-title {
    background-color: var(--primary-color);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav {
    background-color: var(--secondary-color);
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    text-align: center;
    color: var(--accent1-color);
    text-decoration: none;
    padding: 20px;
}

nav ul li a:hover {
    background-color: var(--primary-color);
}

.cards {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card h2 {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 15px;
}

.aboutme {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.aboutme img {
    width: 110px;
    height: auto;
}

.country{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    padding: 20px;
}

.country img {
    width: 120px;
}

.country figure {
    text-align: center;
}

.card h3 {
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid #bbb;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.card ul {
    padding: 40px;
}

.card li {
    margin-bottom: 15px;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 20px;
}